<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://unpkg.com/element-ui@next/lib/theme-default/index.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <style></style>
    </head>
    <body>
        <div class="my-div" id="editor">
            <ul>
                <li v-for="item in items">
                    {{ item.message }}
                </li>
            </ul>
            <!-- <div class="show-textarea" v-bind:html="html" v-on:input="show-update"></div> -->
            <el-button v-on:click="login" v-bind:disabled="isLogin">登录</el-button>
            <el-button v-on:click="send" icon="message">发送</el-button>
            <textarea class="my-textarea" v-model="input"></textarea>
        </div>
        <script type="text/javascript">
            /*button.onclick = function () {
                var content = document.getElementById('input').value
                socket.emit('input', content); //发送一个名为foo的事件，并且传递一个字符串数据‘hello’
            }
            socket.on('broadcast', function (data) {
                console.log('new messages:', data);
            });
            */
            var $ = new Vue({
                el: '#editor',
                data: {
                    socket: null,
                    input: '',
                    items: [],
                    isLogin: false,
                    userList: [],
                    text: ''
                },
                methods: {
                    login: function () {
                        $.socket = io.connect()
                        console.log('created');
                        $.socket.on('connect', function () {
                            console.log('已建立好连接');
                            $.isLogin = true
                            $.name()
                            $.socket.on('system', function (userName, userList, type) {
                                if (type === 'login') {
                                    $.items.push({
                                        message: '欢迎 ' + userName + ' 登录聊天室'
                                    })
                                }
                                if (type === 'logout') {
                                    $.items.push({
                                        message: userName + ' 已经退出聊天室'
                                    })
                                }
                                $.userList = userList
                                $.showUserList()
                            })
                            $.socket.on('message', function (data) {
                                console.log('收到：', data);
                                $.showMessage(data)
                            })
                        });
                    },
                    name: function () {
                        this.$prompt('请输您的名字', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消'
                        }).then(({value}) => {
                            $.socket.emit('name', value)
                            $.socket.on('loginSuccess', function (data) {
                                console.log('isLogin', data);
                                $.$message({
                                    type: 'success',
                                    message: '登录成功 你的名字是: ' + value
                                });
                            })
                        }).catch(() => {
                            this.$message({type: 'info', message: '取消输入'});
                        });
                    },
                    showUserList: function () {
                        let user = '当前在线:'
                        for (var i = 0; i < $.userList.length; i++) {
                            user += ` [${$.userList[i]}]`
                        }
                        $.items.push({message: user})
                    },
                    send: function () {
                        console.log('message:', `${this.input}`);
                        $.socket.emit('message', `${this.input}`)
                        $.showMessage(`${this.input}`)
                        this.input = ''
                    },
                    showMessage: function (msg) {
                        $.items.push({message: msg})
                    }
                }
            })
        </script>
    </body>
</html>
